{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{{ super() }}
<style>
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
        width: 400px;
        height: 80px;
    }
</style>
{% endblock %}
{% block content %}
<h1>Calculator Result</h1>
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-success alert-dismissible" role="alert">
    {{message}}
</div>
{% endfor %}
{% endif %}
{% endwith %}
 {#
<div class="container px-4 px-lg-5">#}
    <table id="data" class="table table-striped">

        <thead>
        <tr>
            <th>Value 1</th>
            <th>Value 2</th>
            <th>Operation</th>
            <th>result</th>
        </tr>
        </thead>
        <tbody>
        {% for data in data%}
        <tr>
            <td>{{ data[1] }}</td>
            <td>{{ data[2] }}</td>
            <td>{{ data[3] }}</td>
            <td>{{ data[4] }}</td>
        </tr>


        {% endfor %}
        </tbody>
    </table>
    {#
</div>#}
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        $('#data').DataTable({
            columns:
                [
                    {searchable: true},
                    {searchable: true},
                    {searchable: true},
                    {searchable: true},
                ],
        });
    });
</script>
{% endblock %}